name: run python

on:
  push: 
  schedule:
    - cron: "0 * * * *" # mỗi giờ

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt
      - run: python codebot.py
